.mc {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mc-sm { width: 1rem; height: 1rem; }
.mc     { width: 1.5rem; height: 1.5rem; }
.mc-xl  { width: 2rem; height: 2rem; }
.mc-2xl { width: 2.5rem; height: 2.5rem; }
.mc-3xl { width: 3rem; height: 3rem; }
.mc-4xl { width: 4rem; height: 4rem; }
.mc-5xl { width: 5rem; height: 5rem; }
